**/__pycache__
*coverage*
log
.pytest_cache
.venv
venv
meta/**
unit-tests/output
***/flask_session
**/*.pid
etc/*.json
etc/*.py
webapp/etc/*.json
webapp/etc/*.py
scripts/*.py
scripts/*.json
**/logs/**
**/build/**