**/__pycache__
*coverage*
**/log/**
.pytest_cache
.venv
venv
meta/**
unit-tests/output
***/flask_session
**/*.pid
etc/**
!etc/examples
!etc/constants.py
webapp/etc/*.json
webapp/etc/*.py
!webapp/log/.gitkeep
scripts/*.py
scripts/*.json
log/**
!log/.gitkeep
**/build/**
**/sessions
**/custom/**
**/custom_templates/**
test/*.http
metaxx/**
var/**
