{% extends 'base2.html' %}

{% block title %}
{% endblock %}

{% block content %}

<div class="box box-info">
    <div class="box-header with-border">
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table>
                <!-- § include('row', values=headers, header=True) -->
                <!-- https://www.geeksforgeeks.org/for-loop-django-template-tags/ -->
                <thead>
                <tr>{% for key, value in rows.0.items %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>{% for row in rows %}{% include "commission/commission-list-row.html" %}{% endfor %}</tbody>
            </table>

        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
</div>

{% endblock %}
