{% extends 'commission/verarbeitung_header.html' %}

{% block title %}
Pickliste
{% endblock %}

{% block content2 %}

<script type="text/javascript">
    $(document).ready(function () {

        /* Tabs alle deaktivieren */
        boxes = document.getElementsByClassName("boxes");
        console.log(boxes);
        for (i = 0; i < boxes.length; i++) {
            boxes[i].className = boxes[i].className.replace(" active", "");
            boxes[i].onclick="";
        }
        document.getElementById("box_{{ current_box }}").className += " active";

        var error_text = {% if error_text is not none %}'{{ error_text }}'{% else %}''{% endif %};
    
        if (error_text != '') {
            Swal.fire({
                icon: 'error',
                text: error_text
            });
        }

        document.getElementById("txt_ean").focus();
    })  
</script>

    <div class="col-md-12"  style="margin-top: 0.3cm;">
        <span style="font-size: large;"><strong>Scan Artikel {{ next_art['ARTNUM'] }}</strong></span>
        {{ next_art['AABZ1'] }}
        <div style="margin-top: 0.3cm;"><b>EAN <input  style="width: 5cm" type="number" name="txt_ean" id="txt_ean"></b></div>
        <input type="hidden" name="txt_artnum" value="{{ next_art['AANUM'] }}"/>
        <table style="margin-top: 0.3cm;">
            <tr>
                <th>Benötigte Menge:</th>
                <td><b>{{ next_art['REQUIRED_NUMBER'] }}</b></td>
            </tr>
            <tr>
                <th>Verfügbare Menge:</th>
                <td><b>{{ next_art['ON_STOCK'] }}</b></td>
            </tr>
            <tr>
                <td style="height: 0.2cm"></td>
            </tr>
            <tr>
                <th>Übernommen:</th>
                <td><input style="width: 3cm" type="number" name="txt_pickedup" value="{{ next_art['REQUIRED_NUMBER'] |trim }}">
                </td>
            </tr>
        </table>
        <div style="text-align: center; vertical-align: middle;">
            <table>
                <tr>
                <td><input style="width: 1cm; height: 1cm;" type="checkbox" id="chk_stock_empty" name="chk_stock_empty"></td>
                <th><label for="chk_stock_empty">Lager leer</label></th>
            </tr>
            </table>
        </div>
        <br/>
        <div style="width: 8cm">
            <table style="width: 90%; margin-left: auto; margin-right: auto">  
                <tr>
                    <td><button style="height: 1.5cm; width: 4cm; margin-left: auto; margin-right: auto; display: block" type="submit"
                        onClick="$('#action').val('process_commission');"
                        class="btn btn-primary btn-rounded waves-effect btn-block" id="btn_start_scan">Zur&uuml;ck</button></td>
                    <td>
                        <button style="height: 1.5cm; width: 4cm; margin-left: auto; margin-right: auto; display: block" type="submit"
                            onClick="$('#action').val('confirm_scan');"
                            class="btn btn-info btn-rounded waves-effect btn-block" id="btn_confirm">Bestätigen</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}