{% extends 'commission/verarbeitung_header.html' %}

{% block title %}
Pickliste
{% endblock %}

{% block content2 %}
<style>
    table th {
        vertical-align: top;
    }
</style>

<script type="text/javascript">

    function choose_box(evt, box) {

        document.getElementById('current_box').value = box;

        /* Div-Blöcke alle schließen */
        box_content = document.getElementsByClassName("box_content");
        for (i = 0; i < box_content.length; i++) {
            box_content[i].style.display = "none";
        }
        /* Tabs alle deaktivieren */
        boxes = document.getElementsByClassName("boxes");
        for (i = 0; i < boxes.length; i++) {
            boxes[i].className = boxes[i].className.replace(" active", "");
        }

        /* Div-Block anzeigen & Tab hervorheben */
        evt.currentTarget.className += " active";
        box_content = document.getElementById('box_content_' + box)
        if (box_content != null) {
            document.getElementById('box_content_' + box).style.display = "block";
            check_stock_availability(box);
        }
        else {
            document.getElementById('no_article').style.display = "block";
        }
    }

    /* Aktiviere default Box */
    $(document).ready(function () {
        document.getElementById("box_{% if current_box is none %}{{ boxes[0]['KNR'] }}{% else %}{{ current_box }}{% endif %}").click();
    })



    function check_stock_availability(box) {
        var on_stock = document.getElementById('on_stock_' + box).value;
        var required = document.getElementById('required' + box).value;
        var required_all = document.getElementById('required_all' + box).value;

       if (on_stock < required) {
            Swal.fire({
                icon: 'error',
                text: 'Achtung! Lagerstand zu gering'
            })
        }
        else if (on_stock < required_all) {
            Swal.fire({
                icon: 'error',
                text: 'Achtung! Lagerstand zu gering für ALLE Rüstscheine'
            })
        }
    }
</script>


    <div id="no_article" class="box_content">
        <br/>
        <br/>
        <h3>Alle Artikel gescannt</h3>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>

    {% if boxes is not none %}
    {% for next_art in boxes %}
    <div id="box_content_{{ next_art['KNR'] }}" class="box_content col-md-12">
        <input type="hidden" id="on_stock_{{ next_art['KNR'] }}" value="{{ next_art['ON_STOCK'] }}"/>
        <input type="hidden" id="required{{ next_art['KNR'] }}" value="{{ next_art['REQUIRED_NUMBER'] }}"/>
        <input type="hidden" id="required_all{{ next_art['KNR'] }}" value="{{ next_art['REQUIRED_NUMBER_ALL'] }}"/>
        <br/>
        <table>
            <tr>
                <th>Artikel</th>
                <td>{{ next_art['ARTNUM'] }}</td>
            </tr>
            <tr>
                <th>Lagerort</th>
                <td>{{ next_art['DDLOC1'] }}
                    {% if next_art['DDLOC2'] != '' %}<br/>{{ next_art['DDLOC2'] }}{% endif %}
                    {% if next_art['DDLOC3'] != '' %}<br/>{{ next_art['DDLOC3'] }}{% endif %}
                </td>
            </tr>
            <tr>
                <th>Text</th>
                <td style="white-space: nowrap;">{{ next_art['AABZ1'] }}
                    {% if next_art['AABZ2'] != '' %}<br/>{{ next_art['AABZ2'] }}{% endif %}
                    {% if next_art['AABZ3'] != '' %}<br/>{{ next_art['AABZ3'] }}{% endif %}
                </td>
            </tr>
            <tr>
                <th>Lager</th>
                <td>{{ next_art['ON_STOCK'] }}</td>
            </tr>
            <tr>
                <th>Benötigt</th>
                <td>{{ next_art['REQUIRED_NUMBER'] }}</td>
            </tr>
        </table><br/>
        <div style="width: 8cm">
            <button style="height: 1.5cm; width: 4cm; margin-left: auto; margin-right: auto; display: block" type="submit"
                onClick="$('#action').val('start_scan');"
                class="btn btn-info btn-rounded waves-effect btn-block" id="btn_start_scan">Start Scan</button>
        </div>

    </div>
    {% endfor %}
    {% endif %}

    <div style="width: 8cm">
        <table style="width: 90%; margin-left: auto; margin-right: auto">  
            <tr>
                <td><button style="height: 1.5cm; width: 4cm; margin-left: auto; margin-right: auto; display: block" type="submit"
                    onClick="$('#action').val('choose_commission_place');"
                    class="btn btn-primary btn-rounded waves-effect btn-block" id="btn_start_scan">Zum Kommiplatz</button></td>
                <td><button style="height: 1.5cm; width: 4cm; margin-left: auto; margin-right: auto; display: block" type="submit"
                    onClick="$('#action').val('list_commission_list');"
                    class="btn btn-primary btn-rounded waves-effect btn-block" id="btn_start_scan">Zur&uuml;ck</button></td>
            </tr>
        </table>
    </div>

{% endblock %}