{% extends 'commission/verarbeitung_header.html' %}

{% block title %}
Pickliste
{% endblock %}

{% block content2 %}

<script type="text/javascript">
    $(document).ready(function () {

        /* Tabs alle deaktivieren */
        boxes = document.getElementsByClassName("boxes");
        console.log(boxes);
        for (i = 0; i < boxes.length; i++) {
            boxes[i].className = boxes[i].className.replace(" active", "");
            boxes[i].onclick="";
        }

        current_box = document.getElementById("box_{{ current_box }}");
        if (current_box != null) {
            document.getElementById("box_{{ current_box }}").className += " active";
        }


        var error_text = {% if error_text is not none %}'{{ error_text }}'{% else %}''{% endif %};
    
        if (error_text != '') {
            Swal.fire({
                icon: 'error',
                text: error_text
            })
        }
    })
</script>
    <div class="col-md-12">
        <br/>
        <h3>Kommissionsplatz Zuordnen</h3>
        <div style="font-size:20px;">
            <select name="commission_place" id="commission_place">
                {% for kommi_location in kommi_locations %}
                <option value="{{ kommi_location['KOMMI_LOCATION'] }}">Platz {{ kommi_location['KOMMI_LOCATION'] }}</option>
                {% endfor %}
            </select>
        </div>
        <br/>
        <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
        <br/>
        <div style="width: 8cm">
            <table style="width: 90%; margin-left: auto; margin-right: auto">  
                <tr>
                    <td><button style="height: 2cm; width: 4cm; margin-left: auto; margin-right: auto; display: block" type="submit"
                        onClick="$('#action').val('process_commission');"
                        class="btn btn-primary btn-rounded waves-effect btn-block" id="btn_start_scan">Zur&uuml;ck</button></td>
                    <td>
                        <button style="height: 2cm; width: 4cm; margin-left: auto; margin-right: auto; display: block" type="submit"
                            onClick="$('#action').val('set_commission_place');"
                            class="btn btn-info btn-rounded waves-effect btn-block" id="btn_confirm">Bestätigen</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}