{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}

<div class="box box-info">
    {% if error_text is not none %}
    <div class="headline text-danger">{{error_text}}</div>
    {% endif %}
    <!-- /.box-header -->
    
    <form>
      <input type=button onClick="location.href='/'" value='Back to overview'>
  </form>
  
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5><i class="icon fas fa-ban"></i>A fucking error occured!</h5>
      {{ error }}
    </div>
    
</div>

{% endblock %}
