
<table>
  <tr><th>Name</th><td><input type="text" id="new_permission_name"></td></tr>
  <tr><th>Roles</th><td>
    {% for role, role_permissions in role_permissions.items() %}
      <label for="role_{{ loop.index }}">{{ role }}</label>
      <input type="checkbox" id="role_{{ loop.index }}" name="roles" value="{{ role }}">
    {% endfor %}
    </td>
  </tr>
  <tr><th>General</th><td><input type="text" id="new_permission_general"></td></tr>
  <tr><th>Workflows</th><td><input type="text" id="new_permission_workflows"></td></tr>
</table>