{% extends 'base.html' %}

{% block title %}
Settings
{% endblock %}

{% block css %}
<style>
  /* 1. Style the tab container */
  .tab-container {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
  }

  /* 2. Style the buttons (tabs) */
  .tab-buttons {
    display: flex;
    border-bottom: 2px solid #ccc;
  }

  .tab-buttons button {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 16px;
    transition: 0.3s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 2px;
  }

  /* Change background color of buttons on hover */
  .tab-buttons button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tabbed class */
  .tab-buttons button.active {
    background-color: #007BFF;
    color: white;
  }

  /* 3. Style the tab content */
  .tab-content {
    display: none; /* Hide all content by default */
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 0.5s; /* Optional fade animation */
  }

  .border-right th, .border-right td {
    border-right: 2px solid #ccc; /* Adjust thickness and color here */
  }
  
  .border-right th:last-child, .border-right td:last-child {
    border-right: none;
  }

  /* Fade in animation */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
</style>
{% endblock %}

{% block no_form_content %}

<div class="box box-info">

    <div class="tab-container">
    
        <div class="tab-buttons">
            <button type="button" class="tablinks active" onclick="openTab(event, 'General')">General</button>
            <button type="button" class="tablinks" onclick="openTab(event, 'Permission')">Permission</button>
        </div>

        <div id="General" class="tab-content"  style="display: none;">

            <h3>General</h3>

            <table class="table table-striped table-bordered">
                <tr>
                    <th>Allowed users</th><td>{% for user in allowed_users %}{{ user }}&nbsp;&nbsp;{% endfor %}</td>
                </tr>
                <tr><th>Default project</th><td>{{ default_project }}</td></tr>
                <tr><th>Web port</th><td>{{ port }}</td></tr>
                <tr><th>Web path</th><td>{{ path }}</td></tr>
                <tr><th>User keys</th><td>
                    <table class="table table-striped table-bordered">
                        <tr><th>User</th><th>Creation date</th><th>Key</th></tr>
                        {% for user,key in keys.items() %}
                            <tr>
                                <td><code>{{ user }}</code></td><td><code>{{ key['date'] }}</code></td><td><code>{{ key['orig_key_masked'] }}</code></td>
                            </tr>
                        {% endfor %}
                    </table>
                </td></tr>
            </table>
        </div>

        <div id="Permission" class="tab-content" style="display: block;">

            <h3>Role</h3>
            
            <table class="table table-striped table-bordered">
                <tr><th></th><th>Role</th><th>Permissions</th></tr>
                {% for role, role_items in role_permissions.items() %}
                    {% set permissions = role_items.permissions %}
                    <tr>
                        <td>
                          <button type="button" class="btn btn-primary" onclick="delete_role_permission('{{ role }}')">
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </td>
                        <td><h4><label class="permission-role" data-value="{{ role }}">{{ role }}</label></h4></td>
                        <td>
                          <table>
                            <tr><th>General</th><td>
                              <table class="table border-right">
                                <tr>
                                {% for action in permission_actions %}
                                  <td>{{ action.value }}</td>
                                {% endfor %}
                                </tr>
                                <tr>
                                {% for action in permission_actions %}
                                  <td><input type="checkbox" onchange="save_permissions()" class="role-{{role}}-general" data-value="{{ action.value }}" {% if action in permissions.general %}checked{% endif %}></td>
                                {% endfor %}
                                </tr>
                              </table>  
                            </td></tr>
                            <tr><th>Workflows</th><td>
                            {% for workflow, workflow_permissions in permissions.workflows.items() %}<code>{{ workflow }}</code>&nbsp;&nbsp;{% endfor %}
                            </td></tr>
                          </table>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <br/>
            <hr/>
            <br/>
            <h3>User</h3>
            
            <button type="button" class="btn btn-primary" onclick="show_add_user_permission()">
              <i class="fa-solid fa-plus"></i>
              Add new user
            </button>

            <br/>
            <br/>

            <table class="table table-striped table-bordered">
                {% for user, user_items in user_permissions.items() %}
                    {% set permissions = user_items.permissions %}
                    <tr>
                        <td> 
                          <button type="button" class="btn btn-primary" onclick="delete_user_permission('{{ user }}')">
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </td>
                        <td><h4><label class="permission-user" data-value="{{ user }}">{{ user }}</label></h4></td>
                        <td>
                          <table>
                            <tr><th>General</th><td>
                              <table class="table border-right">
                                <tr>
                                {% for action in permission_actions %}
                                <td>{{ action.value }}</td>
                                {% endfor %}
                                </tr>
                                <tr>
                                {% for action in permission_actions %}
                                  <td><input type="checkbox" onchange="save_permissions()" class="user-{{user}}-general" data-value="{{ action.value }}" {% if action in permissions.general %}checked{% endif %}></td>
                                {% endfor %}
                                </tr>
                              </table>
                            </td></tr>
                            <tr>
                              <th>Roles</th>
                              <td>
                                <table class="table border-right">
                                  <tr>
                                    {% for role, role_items in role_permissions.items() %}
                                     <th><label for="role_{{ loop.index }}">{{ role }}</label></th>
                                    {% endfor %}
                                  </tr>
                                  <tr>
                                    {% for role, role_items in role_permissions.items() %}
                                      <td><input type="checkbox" onchange="save_permissions()" class="user-{{user}}-roles" data-value="{{ role }}"  {% if role in user_items.roles %}checked{% endif %}></td>
                                    {% endfor %}
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr><th>Workflows</th></tr>
                            <tr><td>&nbsp;</td><td>
                              {% for workflow, workflow_permissions in permissions.workflows.items() %}
                                <h4>{{ workflow }}</h4>
                                <table class="table zebra">
                                  <tr>
                                    <th>General</th>
                                    <td>
                                      <table class="table border-right table-striped thick-outer-border">
                                        <tr>
                                          {% for action in permission_actions %}
                                          <td>{{ action.value }}</td>
                                          {% endfor %}
                                          </tr>
                                          <tr>
                                          {% for action in permission_actions %}
                                            <td><input type="checkbox" onchange="save_permissions()" class="user-{{user}}-workflow-general" data-workflow="{{ workflow }}" data-value="{{ action.value }}" {% if action in workflow_permissions['general'] %}checked{% endif %}></td>
                                          {% endfor %}
                                        </tr>
                                      </table>
                                  </tr>
                                  <tr><th>Stages</th>
                                    <td>
                                      <table class="table zebra">
                                      {% for stage, stage_permissions in workflow_permissions['stages'].items() %}
                                      <tr>
                                        <th>{{ stage }}</th>
                                        <td>
                                          <table class="table border-right table-striped thick-outer-border">
                                            <tr>
                                              {% for action in permission_actions %}
                                              <td>{{ action.value }}</td>
                                              {% endfor %}
                                              </tr>
                                              <tr>
                                              {% for action in permission_actions %}
                                                <td><input type="checkbox" onchange="save_permissions()" 
                                                            class="user-{{user}}-workflow-{{ workflow }}-stage" 
                                                            data-workflow="{{ workflow }}" data-stage="{{ stage }}" 
                                                            data-value="{{ action.value }}" 
                                                            {% if action in stage_permissions %}checked{% endif %}></td>
                                              {% endfor %}
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                      {% endfor %}
                                      </table>
                                    </td>
                                  </tr>
                                </table>
                              {% endfor %}
                              </td>
                            </tr>
                          </table>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>



{% endblock %}

  <!-- 1. Capture the HTML file into a Jinja variable -->
  {% set new_permission %}
      {% include 'admin/new_permission.html' %}
  {% endset %}

  
  
{% block scripts %}
<script src="{{ url_for('static', path='assets/js/web.deploy.js') }}"></script>

<script>
  function openTab(evt, tabName) {
    // Declare variables
    let i, tabcontent, tablinks;

    // Get all elements with class="tab-content" and hide them
    tabcontent = document.getElementsByClassName("tab-content");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  function show_add_user_permission() {
    show_add_permission('user');
  }



  function show_add_permission(type) {
      const html = {{ new_permission | tojson }};
      Swal.fire({
          title: `New ${type}`,
          html: html,
          width: 'auto',
          customClass: {
              htmlContainer: 'sweet_container',
              table: 'table',
          }
      }).then((result) => {
        if (result.isConfirmed) {
          // Handle form submission here
          add_permission(type);
          console.log('Form submitted');
          console.log(result);
        }
      });
  }



  function add_permission(type) {
    const name = document.getElementById(`new_permission_name`).value;

    const roles = [];
    document.querySelectorAll('.new_roles:checked').forEach((checkbox) => {
      roles.push(checkbox.value);
    });

    const general = [];
    document.querySelectorAll('.new_general:checked').forEach((checkbox) => {
      general.push(checkbox.value);
    });

    console.log('Name:', name);
    console.log('General:', general);
    console.log('Roles:', roles);

    http_post('/api/add_permission', {
      type: type,
      name: name,
      general: general,
      workflows: [],
      roles: roles
    }).then(async (response) => {
      const data = await response.json()
      console.log('Response:', data);
  
      if (!response.ok) {
        throw new Error(data.error || 'Unknown error');
      }
      console.log('Permission added successfully:', response);
      Swal.fire('Success', 'Permission added successfully', 'success').then(() => {
        location.reload();
      });
    }).catch((error) => {
      console.error('Error adding permission:', error);
      Swal.fire('Error', `<h4>Failed to add permission</h4><br/><code>${error.message}</code>`, 'error');
    });
  }




  function get_user_permissions() {

    const user_permissions = {};

    document.querySelectorAll('.permission-user').forEach((label) => {
      const user = label.dataset.value;
      const general = [];
      document.querySelectorAll(`.user-${user}-general:checked`).forEach((checkbox) => {
        general.push(checkbox.dataset.value);
      });

      const roles = [];
      document.querySelectorAll(`.user-${user}-roles:checked`).forEach((checkbox) => {
        roles.push(checkbox.dataset.value);
      });

      const workflows = {};
      document.querySelectorAll(`.user-${user}-workflow-general:checked`).forEach((checkbox) => {
        const workflowName = checkbox.dataset.workflow;
        /*const stage = checkbox.dataset.stage;*/
        const stages = {};
        document.querySelectorAll(`.user-${user}-workflow-${workflowName}-stage:checked`).forEach((checkbox2) => {
          const stageName = checkbox2.dataset.stage;
          if (!stages[stageName]) {
            stages[stageName] = [];
          }
          stages[stageName].push(checkbox2.dataset.value);
        });
        if (!workflows[workflowName]) {
          workflows[workflowName] = {
            general: [],
            stages: stages
          };
        }
        /*workflows[workflowName].stages[stage] = true;*/
        workflows[workflowName].general.push(checkbox.dataset.value);
      });
      console.log('User:', user, 'Workflow:', workflows);

      user_permissions[user] = {
        roles: roles,
        permissions: {
          general: general,
          workflows: workflows
        }
      };
    });
    return user_permissions;
  }





  function get_role_permissions() {
    
    const role_permissions = {};

    document.querySelectorAll('.permission-role').forEach((label) => {
      const role = label.dataset.value;
      const general = [];
      document.querySelectorAll(`.role-${role}-general:checked`).forEach((checkbox) => {
        general.push(checkbox.dataset.value);
      });

      role_permissions[role] = {
        permissions: {
          general: general
        }
      };
    });
    return role_permissions;
  }





  function save_permissions() {
    const user_permissions = get_user_permissions();
    const role_permissions = get_role_permissions();

    http_post('/api/save_permissions', {
      user_permissions: user_permissions,
      role_permissions: role_permissions
    }).then(async (response) => {
      const data = await response.json()
      console.log('Response:', data);
  
      if (!response.ok) {
        throw new Error(data.error || 'Unknown error');
      }
      console.log('Permissions saved successfully:', response);
      Swal.fire({
        position: "top-end",
        icon: "success",
        title: "Permissions has been saved",
        showConfirmButton: false,
        timer: 1000,
        backdrop: false, // Removes the dark overlay
        allowOutsideClick: false
      });
    }).catch((error) => {
      console.error('Error saving permission:', error);
      Swal.fire({
        position: "top-end",
        icon: "error",
        title: "Failed to save permission",
        html: `<h4>Failed to save permission</h4><br/><code>${error.message}</code>`,
        showConfirmButton: true
      }).then(() => {
        location.reload();
      });
    });
  }


</script>
{% endblock %}