{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}

<div class="box box-info">

    <form>
        <input type=button onClick="location.href='/'" value='Back to overview'>
    </form>
    <br/>
    <br/>

    <!-- /.box-header -->

    <h3>User <code>{{ sidebar['current_user'] }}</code></h3>

    <table class="table">
        <tr>
            <th>Authentication-Token (sha256 encoded)</th><td><code>{{ user_key['key'] or 'None' }}</code></td>
        </tr>
        <tr>
            <th>Creation date</th><td><code>{{ user_key['date'] or '-' }}</code></td>
        </tr>
    </table>
    <button type="button" onclick="drop_key()" class="btn btn-light"><i class="bi bi-trash"></i></button>
    <button type="button" onclick="renew_key()" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-repeat" viewBox="0 0 16 16">
            <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z"/>
        </svg> Renew
    </button>
    
    
</div>

<script src="{{ url_for('static', filename='assets/js/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/web.deploy.js') }}"></script>
<script type="text/javascript">
const swalWithBootstrapButtons = Swal.mixin({
    customClass: {
        confirmButton: 'btn btn-success',
        cancelButton: 'btn btn-danger'
    },
    buttonsStyling: false
    })

function renew_key() {
    swalWithBootstrapButtons.fire({
        title: 'Generate new token',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        allowOutsideClick: () => !Swal.isLoading()
    }).then((result) => {
            if (result.isConfirmed) {
                postData("/api/set_user_key", { }).then((data) => {
                    console.log(data); // JSON data parsed by `data.json()` call
                    swalWithBootstrapButtons.fire(
                    'Token successfully generated!',
                    'Your token:<br/><br/>' + data['token'],
                    'success'
                    ).then((result) => {
                            location.reload();
                    });
                });
            }
    })
}


function drop_key() {
    
    swalWithBootstrapButtons.fire({
    title: 'Are you sure?',
    text: "You want to delete your key",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Yes, cancel',
    cancelButtonText: 'No, ups!',
    reverseButtons: true
    }).then((result) => {
        if (result.isConfirmed) {
            postData("/api/drop_key", {}).then((data) => {
                console.log(data); // JSON data parsed by `data.json()` call
            });
            swalWithBootstrapButtons.fire(
            'Deleted!',
            'Your key has been droped successfully.',
            'success'
            ).then((result) => {
                    location.reload();
            });
        }
    })
}


</script>

{% endblock %}
