{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}

<div class="box box-info">
    <h2>List deployments from Project: <b>{{ project }}</b></h2>
    <pre>{{ deploy_version_file }}</pre>

    {% if error_text is not none %}
    <div class="headline text-danger">{{error_text}}</div>
    {% endif %}

    {{ projects }}
    <!-- /.box-header -->
    <table id="DataTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <!--- <th>Auswahl</th> -->
                {% for key, value in deployments[0].items() %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in deployments %}
            <tr>
                {% for key, value in row.items() %}
                <td style="white-space: nowrap;"><a href="show_details/{{ row['version'] }}">
                    {% if key == 'status' %}
                        <div 
                        {% if value == 'finished' %}class="badge badge-success"{% endif %}
                        {% if value == 'failed' %}class="badge badge-danger"{% endif %}
                        {% if value == 'canceled' %}class="badge badge-danger"{% endif %}
                        {% if value == 'new' %}class="badge badge-info"{% endif %}
                        {% if value == 'ready' %}class="badge badge-primary"{% endif %}
                        >{{ value }} </div>
                    {% else %}
                        {{ value }}
                    {% endif %}
                    </a>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
