{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block css %}


  <!-- Include the Bootstrap Table CSS for the table -->
  <link href="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">

{% endblock %}



{% block content %}

{% set btn_classes = {
    'finished': 'btn-success',
    'failed': 'btn-danger',
    'canceled': 'btn-danger',
    'new': 'btn-info',
    'ready': 'btn-primary',
    'in process': 'btn-secondary'
} %}

  <h1>Object list</h1> 

  <!-- /.box-header -->
  <table id="deploy_objects"
  class="table w-auto"
  data-toggle="table" 
  data-filter-control="true"
  data-show-search-clear-button="true" 
  data-show-columns="true"
  data-pagination="true" 
  data-page-list="[5, 10, 20, 50, 100, all]"
  data-page-size="10"
  data-pagination-h-align="left"
  data-pagination-detail-h-align="left"
  data-buttons-align="left"
  data-search-align="left">
      <thead>
          <tr>
              <th></th>
              <!--- <th>Auswahl</th> -->
              {% if deployment_objects|length > 0 %}
                  {% for key, value in deployment_objects[0].items() %}
                    <th data-field="{{ key }}" data-sortable="true" data-filter-control={% if key in ['project', 'prod_lib', 'type', 'attribute'] %}"select"{% else %}"input"{% endif %}  data-filter-control-container="#filter">{{ key }}</th>
                  {% endfor %}
              {% endif %}
          </tr>
      </thead>
      <tbody>
        {% for row in deployment_objects %}
          {% set deployment_objects_index = loop.index0 %}
        <tr>
          <td>
            <button type="button" class="btn btn-primary" onclick="show_deploy_object_details('{{ row['project'] }}', '{{ row['prod_lib'] }}', '{{ row['name'] }}', '{{ row['type'] }}', '{{ row['attribute'] }}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"></path>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"></path>
                </svg>
            </button>
          </td>
            {% for key, value in row.items() %}
            <td style="white-space: nowrap;">{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}


{% block scripts %}

  <script src="{{ url_for('static', path='assets/js/web.deploy.js') }}"></script>

  <!-- http://js-grid.com/getting-started/ -->
  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/resizable/bootstrap-table-resizable.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

  <script>

function show_deploy_object_details(project, prod_lib, name, type, attribute) {


    http_getData(`/api/deploy_object_lifecycle/${project}/${prod_lib}/${name}/${type}/${attribute}`).then((data) => {
        console.log(data); 

        const btnClasses = {
            'finished': 'btn-success',
            'failed': 'btn-danger',
            'canceled': 'btn-danger',
            'new': 'btn-info',
            'ready': 'btn-primary',
            'in process': 'btn-secondary'
        };
        
        if (data['status'] == 'error') {
            show_http_error(data['message']);
            return;
        }

        let html = '<table class="table">';
        if (Array.isArray(data) && data.length > 0) {
            // Headers  http://academy:8080/show_details/43
            html += '<thead><tr>';
            for (const key in data[0]) {
                html += `<th>${key}</th>`;
            }
            html += '</tr></thead>';

            // Body
            html += '<tbody>';
            for (const row of data) {
                html += '<tr>';
                for (const key in row) {
                    html += '<td>';
                    if (key === 'meta_file_id'){
                        html += `<a href="/show_details/${row[key]}">${row[key]}</a>`;
                    }
                    else if (key === 'deployment' || key === 'object_status') {
                        html += `<button type="button" class="btn ${btnClasses[row[key]] || 'btn-secondary'}">${row[key]}</button>`;
                    }
                    else if (key === 'deployment_date') {
                        html += `${row[key]}`;
                    }
                    else if (key === 'source') {
                        html += `<pre><code>${row[key]}</code></pre>`;
                    }
                    else {
                        html += `${row[key]}`;
                    }
                    html += '</td>';
                }
                html += '</tr>';
            }
            html += '</tbody>';
        }
        html += '</table>';
        
        Swal.fire({
            title: `Details for <code>${name}.${attribute}.${type}</code>`,
            html: html,
            width: 'auto',
            customClass: {
                htmlContainer: 'sweet_container',
                table: 'table',
            }
        }).then((result) => {
            last_show_stage_id=null;
            last_show_stage_name=null;
            current_meta_file_id=null;
        });
    });
}




  </script>
{% endblock %}
