{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.actions td {
    padding-right: 10px;
}

.logs pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-align: left;
}

.run {
    cursor: pointer;
}

.row+.row, .grid+.grid {
    margin-top: 1rem;
}

.flow_step {
    margin-right: 40px;
    margin-bottom: 10px;
}

.flow_parent {
    position: relative; 
}

.flow_container {
    width: max-content;
}

#flowchart {
    z-index: -1;
}

.flow_child {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

</style>

<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>

<div class="box box-info">

    <form>
        <input type=button onClick="location.href='/'" value='Back to overview'>
    </form>
    <br/>
    <br/>

    <!-- /.box-header -->
    <div>
        <h2>Projekt: <code>{{ deployment_dict['general']['project'] }} </code>&nbsp;&nbsp;&nbsp;&nbsp;
            Version: <code>{{ deployment_dict['general']['deploy_version'] }} </code></h2>
        <br/>
        <h3>Status: 
            <button type="button" class="btn 
            {% if deployment_dict['general']['status'] == 'finished' %}btn-success{% endif %}
            {% if deployment_dict['general']['status'] == 'canceled' %}btn-danger{% endif %}
            {% if deployment_dict['general']['status'] == 'failed' %}btn-danger{% endif %}
            {% if deployment_dict['general']['status'] == 'ready' %}btn-info{% endif %}
            {% if deployment_dict['general']['status'] == 'new' %}btn-primary{% endif %}
            ">{{ deployment_dict['general']['status'] }} </button>
            {% if deployment_dict['general']['status'] in ['ready', 'failed', 'new', 'in_process'] %}
            <img class="run" src="{{ url_for('static', filename='assets/img/cancel.png') }}" 
            onclick="cancel_deployment('{{ deployment_dict['general']['file_name'] }}')">
            {% endif %}
        </h3>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Created</th><td> {{ deployment_dict['general']['create_time'] }}</td>
        </tr>
        <tr>
            <th>Last update</th><td> {{ deployment_dict['general']['update_time'] }}</td>
        </tr>
        <tr>
            <th>File name</th><td>{{ deployment_dict['general']['file_name'] }}</td>
        </tr>
    </table>


    <hr>
    
    <!--canvas id="flowchart" style="position: absolute; top: 0; left: 0; "></canvas-->
    <div id="flow_parent" class="flow_parent">
        <canvas id="flowchart" class="flow_child border"></canvas>
        {{  flow_html|safe  }}
    </div>

    <hr>

    <!--pre>{{  flow_html  }}</pre-->
    
    
    <br/>

    <h3>Objects to deploy</h3>
    <table class="table table-striped table-bordered w-auto">
        <thead>
            <th>Prod Lib</th><th>Target Lib</th><th>Name</th><th>Type</th><th>Attribute</th><th>Status</th>
        </thead>
        {% for object in deployment_dict['objects'] %}
        <tr>
            <td>{{ object['obj_prod_lib'] }}</td>
            <td>{{ object['obj_lib'] }}</td>
            <td>{{ object['obj_name'] }}</td>
            <td>{{ object['obj_type'] }}</td>
            <td>{{ object['obj_attribute'] }}</td>
            <td><button type="button" class="btn  
                {% if object['deploy_status'] == 'finished' %}btn-success{% endif %}
                {% if object['deploy_status'] == 'failed' %}btn-danger{% endif %}
                {% if object['deploy_status'] == 'new' %}btn-info{% endif %}
                ">{{ object['deploy_status'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <hr>
    
    <br/>

    <h3>Deployment history</h3>
    <table class="table table-striped table-bordered w-auto">
        <thead>
            <th>Timestamp</th><th>Log</th>
        </thead>
        {% for history in deployment_dict['run_history'] %}
        <tr>
            <td>{{ history['create_time'] }}</td>
            <td><img src="{{ url_for('static', filename='assets/img/log.png') }}" onclick="showLog('info', '{{ history['log']|replace("'", "\"")|replace("\r\n", "<br/>")|replace("\n", "<br/>")|e }}')"></td>
        </tr>
        {% endfor %}
    </table>


    <hr>
    
    <br/>

    <h3>Raw JSON file</h3>

    <div style="width: 700px;">
        <pre class="overflow-auto w-auto prettyprint lang-js">
            {{ deployment_json }}
        </pre>
    </div>
</div>


<script src="{{ url_for('static', filename='assets/js/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/web.deploy.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/chart.js') }}"></script>

<script type="text/javascript">

    
    (function(d) {

        stylizePreElements = function() {
        var preElements = document.getElementsByTagName("pre");
        for (i = 0; i < preElements.length; ++i) {
            var preElement = preElements[i];
            preElement.className += "prettyprint";
        }
        };

        injectPrettifyScript = function() {
        // https://github.com/googlearchive/code-prettify
        var scriptElement = document.createElement('script');
        scriptElement.setAttribute("src", "https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js");
        document.head.appendChild(scriptElement);
        };

        stylizePreElements();
        injectPrettifyScript();

        print_flow_connections();

        //let flow_html_container = document.getElementById("flow_html_container");
        //flow_html_container.addEventListener("", print_flow_connections());

        //const observer = new MutationObserver(print_flow_connections);
        //observer.observe(flow_html_container, { attributes: true, childList: true, characterData: true });

        //new ResizeObserver(print_flow_connections).observe(flow_html_container);

        const details_list = document.getElementsByClassName("details_step");
        for (const el of details_list) {
            el.addEventListener("toggle",function() {
                print_flow_connections()
            })
        }

        addEventListener("resize", (event) => {
            print_flow_connections();
        });

        
    })(document)

function print_flow_connections() {

    let flow_parent = document.getElementById("flow_parent");
    let flow_html_container = document.getElementById("flow_html_container").getBoundingClientRect();
    flow_parent.style.height=flow_html_container.height;
    
    let canvas = document.getElementById("flowchart");
    canvas.height=flow_html_container.height;
    canvas.width=window.innerWidth;
    
    const context = canvas.getContext('2d');
    context.clearRect(0, 0, canvas.width, canvas.height);
    
    {{ flow_javascript | safe}}
}



var last_show_stage_step_html = '';



function show_stage_steps(stage, html) {

    last_show_stage_step_html = html;
    Swal.fire({
        title: 'Steps for ' + stage, 
        width: 'auto', 
        html: html
    })
}



function showLog(type, file_name, stage, sequence, run_history_element) {
    let html = '';

    postData("/api/get_action_log", { stage: stage, filename: file_name, sequence: sequence, run_history_element: run_history_element }).then((data) => {
        console.log(data); // JSON data parsed by `data.json()` call
        html = data['stdout'];
        if (type == 'error'){
            html = data['stderr'];
        }
        html = html.replaceAll('\\n', '<br/>');
        Swal.fire({
            icon: type,
            title: 'Log',
            html: '<pre class="logs">'+html+'</pre>',
            width: 'auto',
            customClass: {
                popup: 'logs'
            }
        }).then((result) => {
            show_stage_steps(stage, last_show_stage_step_html);
        });
    });
}



function runStage(filename, stage) {

    Swal.fire({
        icon: 'question',
        title: 'Run stage ' + stage + '?',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        preConfirm: (login) => {
            return postData("/api/run_stage", { stage: stage, filename: filename })
            .then(response => {
                console.log(response);
                return response;
                if (response.status == 'error') {
                    throw new Error(response.error)
                }
                if (response.status == 'success') {
                    return;
                }
                throw new Error('Unknown error occured: ' + response)
            })
        },
        allowOutsideClick: () => !Swal.isLoading()
    }).then((result) => {
        console.log("Ergebnis:");
        console.log(result);
        if (result.isConfirmed) {

            if (result.value.status == 'success') {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Run completed',
                    showConfirmButton: false,
                    timer: 1500
                }).then(()=>{
                    location.reload();
                })
                return;
            }
            else {
                Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: result.value.error
                    }).then(()=>{
                        location.reload();
                    })
            }
        }
    })
}
/*
    postData("/api/run_stage", { stage: stage, filename: filename }).then((data) => {
        console.log(data); // JSON data parsed by `data.json()` call
        if (data.length > 0) {
            Swal.fire({
            icon: 'error',
            title: 'Error during RUN',
            html: '<pre class="logs">'+data+'</pre>',
            width: 'auto',
            customClass: {
                popup: 'logs'
            }
            }).then((result) => {
                location.reload();
            });
        }
        else {
            location.reload();
        }
    });
    */


function set_check_error(filename, stage, sequence, checked) {
    postData("/api/set_check_error", { stage: stage, filename: filename, sequence: sequence, checked: checked }).then((data) => {
        console.log(data); // JSON data parsed by `data.json()` call
    });
}

function cancel_deployment(filename) {

    const swalWithBootstrapButtons = Swal.mixin({
    customClass: {
        confirmButton: 'btn btn-success',
        cancelButton: 'btn btn-danger'
    },
    buttonsStyling: false
    })

    swalWithBootstrapButtons.fire({
    title: 'Are you sure?',
    text: "You are going to cancel the deployment forever!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Yes, cancel',
    cancelButtonText: 'No, ups!',
    reverseButtons: true
    }).then((result) => {
    if (result.isConfirmed) {
        postData("/api/cancel_deployment", { filename: filename }).then((data) => {
            console.log(data); // JSON data parsed by `data.json()` call
        });
        swalWithBootstrapButtons.fire(
        'Canceled!',
        'This deployment has been canceled.',
        'success'
        ).then((result) => {
                location.reload();
        });
    } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
    ) {
        swalWithBootstrapButtons.fire(
        'Canceled',
        'Your cancelation has been canceled :-)',
        'error'
        )
    }
    })
    
}

</script>

{% endblock %}
