{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.actions td {
    padding-right: 10px;
}

.logs pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-align: left;
}

.run {
    cursor: pointer;
}

</style>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
<script src="http://flowchart.js.org/flowchart-latest.js"></script>

<div class="box box-info">

    <form>
        <input type=button onClick="location.href='/'" value='Back to overview'>
    </form>
    <br/>
    <br/>

    <!-- /.box-header -->
    <div>
        <h2>Projekt: <code>{{ deployment_dict['general']['project'] }} </code>&nbsp;&nbsp;&nbsp;&nbsp;
            Version: <code>{{ deployment_dict['general']['deploy_version'] }} </code></h2>
        <br/>
        <h3>Status: 
            <button type="button" class="btn 
            {% if deployment_dict['general']['status'] == 'finished' %}btn-success{% endif %}
            {% if deployment_dict['general']['status'] == 'canceled' %}btn-danger{% endif %}
            {% if deployment_dict['general']['status'] == 'failed' %}btn-danger{% endif %}
            {% if deployment_dict['general']['status'] == 'ready' %}btn-info{% endif %}
            {% if deployment_dict['general']['status'] == 'new' %}btn-primary{% endif %}
            ">{{ deployment_dict['general']['status'] }} </button>
            {% if deployment_dict['general']['status'] in ['ready', 'failed', 'new', 'in_process'] %}
            <img class="run" src="{{ url_for('static', filename='assets/img/cancel.png') }}" 
            onclick="cancel_deployment('{{ deployment_dict['general']['file_name'] }}')">
            {% endif %}
        </h3>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Created</th><td> {{ deployment_dict['general']['create_time'] }}</td>
        </tr>
        <tr>
            <th>Last update</th><td> {{ deployment_dict['general']['update_time'] }}</td>
        </tr>
        <tr>
            <th>File name</th><td>{{ deployment_dict['general']['file_name'] }}</td>
        </tr>
    </table>


    <hr>

    <!-- https://github.com/adrai/flowchart.js   https://flowchart.js.org -->
                <div id="canvas"></div>
        <pre>{{  flow  }}</pre>

    <br/>
    
    <h3>Stages</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <th>Name</th><th>Status</th><th>Last update</th>
        </thead>
        {% for stage in deployment_dict['general']['stages'] %}
        <tr>
            <td>{{ stage['name'] }}</td>
            <td>
                {% if stage['status'] == 'new' %}<img class="run" src="{{ url_for('static', filename='assets/img/run-green.png') }}" onclick="runStage('{{ deployment_dict['general']['file_name'] }}', '{{ stage['name'] }}')">{% endif %}
                {% if stage['status'] == 'failed' %}<img class="run" src="{{ url_for('static', filename='assets/img/run-red.png') }}" onclick="runStage('{{ deployment_dict['general']['file_name'] }}', '{{ stage['name'] }}')">{% endif %}
                <button type="button" class="btn 
                    {% if stage['status'] == 'finished' %}btn-success{% endif %}
                    {% if stage['status'] == 'failed' %}btn-danger{% endif %}
                    {% if stage['status'] == 'new' %}btn-info{% endif %}
                    ">
                    {{ stage['status'] }}
                </button>
            </td>
            <td>{{ stage['update_time'] }}</td>
        </tr>
        {% endfor %}
    </table>

    
    <hr>
    
    
    <br/>

    <h3>Deployment actions</h3>
    <table>
        {% for stage, cmds in deployment_dict['deploy_cmds'].items() %}
        <tr>
            <td><details>
                <summary>{{ stage }}</summary>
                <table class="table table-striped table-bordered">
                    <thead>
                        <th>Sequence</th>
                        <th>Step</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Check error</th>
                        <th>Command</th>
                        <th>Logs</th>
                    </thead>
                    {% for cmd in cmds %}
                    <tr>
                        <td>{{ cmd['sequence'] }}</td>
                        <td>{{ cmd['processing_step'] }}</td>
                        <td>{{ cmd['environment'] }}</td>
                        <td>
                            <button type="button" class="btn  
                                {% if cmd['status'] == 'finished' %}btn-success{% endif %}
                                {% if cmd['status'] == 'failed' %}btn-danger{% endif %}
                                {% if cmd['status'] == 'new' %}btn-info{% endif %}
                            ">
                            {{ cmd['status'] }}</button>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" {% if cmd['check_error'] %}checked{% endif %} onchange="set_check_error('{{ deployment_dict['general']['file_name'] }}', '{{ stage }}', {{ cmd['sequence'] }}, this.checked)">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td>{% if cmd['cmd'] != '' %}
                                {% if cmd['cmd']|length > 30 %}
                                    <details><summary>{{ cmd['cmd'][:30] }} ...</summary><pre>{{ cmd['cmd'] }}</pre></details>
                                {% else %}
                                    {{ cmd['cmd'] }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <table class="table table-striped table-bordered">
                            {% for history in cmd['run_history'] %}
                                <tr>
                                    <td>{{ history['create_time'] }}</td>
                                    <td>
                                        <button type="button" class="btn  
                                            {% if history['status'] == 'finished' %}btn-success{% endif %}
                                            {% if history['status'] == 'failed' %}btn-danger{% endif %}
                                            {% if history['status'] == 'new' %}btn-info{% endif %}
                                        ">
                                            {{ history['status'] }}
                                       </button>
                                    </td>
                                    <td>{% if history['stdout'] != '' %}<img src="{{ url_for('static', filename='assets/img/log.png') }}" onclick="showLog('info', '{{ history['stdout']|replace("'", "\"")|replace("\r\n", "<br/>")|replace("\n", "<br/>")|e }}')">&nbsp;{% endif %}
                                        {% if history['stderr'] != '' %}<img src="{{ url_for('static', filename='assets/img/error-log.png') }}" onclick="showLog('error', '{{ history['stderr']|replace("'", "\"")|replace("\r\n", "<br/>")|replace("\n", "<br/>")|e }}')">{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
              </details>
            </td>
        </tr>
        {% endfor %}
    </table>


    <hr>

    
    <br/>

    <h3>Objects to deploy</h3>
    <table class="table table-striped table-bordered w-auto">
        <thead>
            <th>Prod Lib</th><th>Target Lib</th><th>Name</th><th>Type</th><th>Attribute</th><th>Status</th>
        </thead>
        {% for object in deployment_dict['objects'] %}
        <tr>
            <td>{{ object['obj_prod_lib'] }}</td>
            <td>{{ object['obj_lib'] }}</td>
            <td>{{ object['obj_name'] }}</td>
            <td>{{ object['obj_type'] }}</td>
            <td>{{ object['obj_attribute'] }}</td>
            <td><button type="button" class="btn  
                {% if object['deploy_status'] == 'finished' %}btn-success{% endif %}
                {% if object['deploy_status'] == 'failed' %}btn-danger{% endif %}
                {% if object['deploy_status'] == 'new' %}btn-info{% endif %}
                ">{{ object['deploy_status'] }}</td>
        </tr>
        {% endfor %}
    </table>


    <hr>
    
    <br/>

    <h3>Deployment history</h3>
    <table class="table table-striped table-bordered w-auto">
        <thead>
            <th>Timestamp</th><th>Log</th>
        </thead>
        {% for history in deployment_dict['run_history'] %}
        <tr>
            <td>{{ history['create_time'] }}</td>
            <td><img src="{{ url_for('static', filename='assets/img/log.png') }}" onclick="showLog('info', '{{ history['log']|replace("'", "\"")|replace("\r\n", "<br/>")|replace("\n", "<br/>")|e }}')"></td>
        </tr>
        {% endfor %}
    </table>


    <hr>
    
    <br/>

    <h3>Raw JSON file</h3>

    <div>
        <pre class="overflow-auto w-auto prettyprint lang-js">
            {{ deployment_json }}
        </pre>
    </div>
</div>


<script src="{{ url_for('static', filename='assets/js/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/web.deploy.js') }}"></script>

<script type="text/javascript">

    (function(d) {

        stylizePreElements = function() {
        var preElements = document.getElementsByTagName("pre");
        for (i = 0; i < preElements.length; ++i) {
            var preElement = preElements[i];
            preElement.className += "prettyprint";
        }
        };

        injectPrettifyScript = function() {
        // https://github.com/googlearchive/code-prettify
        var scriptElement = document.createElement('script');
        scriptElement.setAttribute("src", "https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js");
        document.head.appendChild(scriptElement);
        };

        stylizePreElements();
        injectPrettifyScript();

    })(document)


    window.onload = function () {
        var btn = document.getElementById("run"),
            chart;

        var code = '{{ flow |safe|replace("\n", "\\n")}}';
            //code = cd.value;

            if (chart) {
              chart.clean();
            }

            chart = flowchart.parse(code);
            chart.drawSVG('canvas', {
              // 'x': 30,
              // 'y': 50,
              'line-width': 3,
              'maxWidth': 10,//ensures the flowcharts fits within a certian width
              'line-length': 20,
              'text-margin': 10,
              'font-size': 14,
              'font': 'normal',
              'font-family': 'Helvetica',
              'font-weight': 'normal',
              'font-color': 'black',
              'line-color': 'black',
              'element-color': 'black',
              'fill': 'white',
              'yes-text': 'yes',
              'no-text': 'no',
              'arrow-end': 'block',
              'scale': 1,
              'symbols': {
                'start': {
                  'font-color': 'red',
                  'element-color': 'green',
                  'fill': 'yellow'
                },
                'end':{
                  'class': 'end-element'
                }
              },
              'flowstate' : {
                'stage_finished' : { 'fill' : '#28a745', 'font-size' : 14,  'font-color': 'white', 'font-weight' : 'bold'},
                'stage_current' : {'fill' : 'yellow', 'font-color' : 'red', 'font-weight' : 'bold'},
                'stage_failed' : {'fill' : '#dc3545', 'font-color' : 'white', 'font-weight' : 'bold'},
                'stage_new' : { 'fill' : '#17a2b8', 'font-size' : 14, 'font-color': 'white', 'font-weight' : 'bold'},
                'step_finished' : {'fill' : '#28a745', 'font-size' : 11, 'font-color': 'white'},
                'step_new' : {'fill' : '#17a2b8', 'font-size' : 11, 'font-color': 'white'},
                'step_failed' : {'fill' : '#dc3545', 'font-size' : 11, 'font-color' : 'white', 'font-weight' : 'bold'},
              }
            });

            $('[id^=sub1]').click(function(){
              alert('info here');
            });
        
    };

    function myFunction(event, node) {
      console.log("You just clicked this node:", node);
    }
    



function showLog(type, text) {
    Swal.fire({
  icon: type,
  title: 'Log',
  html: '<pre class="logs">'+text+'</pre>',
  width: 'auto',
  customClass: {
    popup: 'logs'
  }
});
}




function runStage(filename, stage) {
    postData("/run_stage", { stage: stage, filename: filename }).then((data) => {
        console.log(data); // JSON data parsed by `data.json()` call
        if (data.length > 0) {
            Swal.fire({
            icon: 'error',
            title: 'Error during RUN',
            html: '<pre class="logs">'+data+'</pre>',
            width: 'auto',
            customClass: {
                popup: 'logs'
            }
            }).then((result) => {
                location.reload();
            });
        }
        else {
            location.reload();
        }
    });
}

function set_check_error(filename, stage, sequence, checked) {
    postData("/set_check_error", { stage: stage, filename: filename, sequence: sequence, checked: checked }).then((data) => {
        console.log(data); // JSON data parsed by `data.json()` call
    });
}

function cancel_deployment(filename) {

    const swalWithBootstrapButtons = Swal.mixin({
    customClass: {
        confirmButton: 'btn btn-success',
        cancelButton: 'btn btn-danger'
    },
    buttonsStyling: false
    })

    swalWithBootstrapButtons.fire({
    title: 'Are you sure?',
    text: "You are going to cancel the deployment forever!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Yes, cancel',
    cancelButtonText: 'No, ups!',
    reverseButtons: true
    }).then((result) => {
    if (result.isConfirmed) {
        postData("/api/cancel_deployment", { filename: filename }).then((data) => {
            console.log(data); // JSON data parsed by `data.json()` call
        });
        swalWithBootstrapButtons.fire(
        'Canceled!',
        'This deployment has been canceled.',
        'success'
        ).then((result) => {
                location.reload();
        });
    } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
    ) {
        swalWithBootstrapButtons.fire(
        'Canceled',
        'Your cancelation has been canceled :-)',
        'error'
        )
    }
    })
    
}

</script>

{% endblock %}
